@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Tomorrow-Medium.ttf") format("truetype");
}

@font-face{
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/DM_Sans/DMSans-VFont.ttf") format("ttf");
}


@font-face {
  font-family: "DM Serif", serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Regular.ttf") format("ttf");

}

@font-face {
  font-family: "DM Serif", serif;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Italic.ttf") format("ttf");
  
}


semiCircleStyle {
  width: 100px; 
  height: 200px; 
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}