@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "DM Serif", serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Regular.ttf") format("ttf");

}

@font-face {
  font-family: "DM Serif", serif;
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/DMSerifText-Italic.ttf") format("ttf");
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
